@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
:root{
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: lightgray;
    width: 800px;
    padding: 2px 10px 15px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
header ul{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 25px;
}
header li{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid #FB9F82; 
    padding-bottom: 5px;
    margin-top: 8px;
    margin-right: 20px;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;

    transition-duration: 0.3s;
}
header li:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #F85C50;
}
a{
    color: white;
    text-decoration: none;
}
main{
    background-color: #F1F2F2;
    width: 800px;
    padding: 2px 10px 15px 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}
h3{
    font-size: 20px;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #FB9F82;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
